// dark
// $background: #222222;

// $color-primary: #04bfbf;
// $color-light: #AAAAAA;
// $color-dark: #555555;
// $color-font: #d9d9d9;

// light
$background: #FFFEF3;

$color-primary: #04bfbf;
$color-light: #AAAAAA;
$color-dark: #555555;
$color-font: #222222;

$spacing-horizontal: 30px;
$spacing-vertical: 100px;
$radius: 4px;



// serif
// has bold
// @font-face {
//     font-family: 'cormorant_infant';
//     src: url('fonts/Cormorant_Infant/CormorantInfant-Regular.ttf') format('truetype');
// }

// // has bold
// @font-face {
//     font-family: 'cormorant_upright';
//     src: url('fonts/Cormorant_Upright/CormorantUpright-Regular.ttf') format('truetype');
// }

// @font-face {
//     font-family: 'gabriela';
//     src: url('fonts/Gabriela/Gabriela-Regular.ttf') format('truetype')
// }

// // has italic
// @font-face {
//     font-family: 'rosarivo';
//     src: url('fonts/Rosarivo/Rosarivo-Regular.ttf') format('truetype');
// }

// // has bold
// @font-face {
//     font-family: 'sahitya';
//     src: url('fonts/Sahitya/Sahitya-Regular.ttf') format('truetype');
// }

// // has bold
// @font-face {
//     font-family: 'sura';
//     src: url('fonts/Sura/Sura-Regular.ttf') format('truetype');
// }

// @font-face {
//     font-family: 'benne';
//     src: url('fonts/Benne/Benne-Regular.ttf') format('truetype');
// }

@font-face {
    font-family: 'junge';
    src: url('fonts/Junge/Junge-Regular.ttf') format('truetype');
}

// sans-serif
// @font-face {
//     font-family: 'antic';
//     src: url('fonts/Antic/Antic-Regular.ttf') format('truetype');
// }

// @font-face {
//     font-family: 'belleza';
//     src: url('fonts/Belleza/Belleza-Regular.ttf') format('truetype');
// }

// @font-face {
//     font-family: 'cagliostro';
//     src: url('fonts/Cagliostro/Cagliostro-Regular.ttf') format('truetype')
// }

// @font-face {
//     font-family: 'jost';
//     src: url('fonts/Jost/Jost-VariableFont_wght.ttf') format('truetype')
// }

// has bold
// @font-face {
//     font-family: 'koho';
//     src: url('fonts/KoHo/KoHo-Regular.ttf') format('truetype');
// }

// @font-face {
//     font-family: 'quicksand';
//     src: url('fonts/Quicksand/Quicksand-VariableFont_wght.ttf') format('truetype');
// }

// @font-face {
//     font-family: 'red_hat_text';
//     src: url('fonts/Red_Hat_Text/RedHatText-VariableFont_wght.ttf') format('truetype')
// }

// has other
// @font-face {
//     font-family: 'thasadith';
//     src: url('fonts/Thasadith/Thasadith-Regular.ttf') format('truetype');
// }

@font-face {
    font-family: 'ysabeau';
    src: url('fonts/Ysabeau/Ysabeau-VariableFont_wght.ttf') format('truetype');
}

$font-title: 'junge', serif;
$font-text: 'ysabeau', sans-serif;